# Environment variables
infrastructure/.env

# Node
packages/front/node_modules/
packages/api/node_modules/

packages/front/dist/

# Docker volumes
infrastructure/postgres_data/
infrastructure/openldap_data/

# OS files
.DS_Store
Thumbs.db
