# Identifiants PostgreSQL
POSTGRES_PASSWORD=keycloak

# Identifiants admin Keycloak (Le Château de l'empereur)
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=admin

# OpenLDAP (Province voisine) — utilisé aussi pour le profil "admin" dans LAM
LDAP_ADMIN_PASSWORD=admin
